@{
    ViewData["Title"] = "CV";
}
@* CV.pdf sourced from OneDrive *@
<div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item"
            src="https://onedrive.live.com/embed?cid=4B1EDCED9CCD3414&resid=4B1EDCED9CCD3414%218477&authkey=ADUdvXPM9LzRfyk&em=2"
            scrolling="no" allowfullscreen>
    </iframe>
</div>