@{
    ViewData["Title"] = "Projects";
}

<h1 class="text-dark">Projects</h1>
<div class="container-fluid">
    @foreach (ProjectItem project in Model)
    {
        <partial name="ProjectItemPartial" model="@project"/>
    }
</div>
